misc/
project terminal reward/data/
project dfe/stimuli/dfe_stimuli-10-t3-3108.csv/

project dfe/stimuli/dfe_stimuli-20-t5-420.csv
project dfe/stimuli/dfe_stimuli-20-t5-d20.rds
project dfe/stimuli/dfe_stimuli-20-t5-d40.rds
project dfe/stimuli/dfe_stimuli-20-t5-d60.rds
project dfe/stimuli/dfe_stimuli-all-10-t3.csv
project dfe/stimuli/dfe_stimuli-all-10-t5.csv
project dfe/stimuli/dfe_stimuli-all-20-t5.csv
project dfe/stimuli/dfe-stimuli-20-t5.csv
project dfe/stimuli/example_bayes_20_5.csv
project dfe/stimuli/plotdata-420-20-t5.csv
project dfe/stimuli/plotdata-420-30-t5.csv